---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import TopicDossier from '../../components/TopicDossier.astro';
import { buildTopicIndex, sortPostsByDate } from '../../utils/topics';
export async function getStaticPaths() { const topics = buildTopicIndex(sortPostsByDate(await getCollection('blog'))); return topics.map((topic) => ({ params: { slug: topic.slug }, props: { topic } })); }
const { topic } = Astro.props;
const topicUrl = new URL(`/tematy/${topic.slug}/`, Astro.site).toString();
const topicJsonLd = { '@context': 'https://schema.org', '@graph': [
  { '@type': 'CollectionPage', name: `${topic.name} | Pseudointelekt`, description: topic.description, url: topicUrl, inLanguage: 'pl-PL', isPartOf: { '@id': `${new URL('/', Astro.site).toString()}#website` }, mainEntity: { '@type': 'ItemList', numberOfItems: topic.posts.length, itemListElement: topic.posts.slice(0, 20).map((post, index) => ({ '@type': 'ListItem', position: index + 1, url: new URL(`/blog/${post.id}/`, Astro.site).toString(), name: post.data.title })) } },
  { '@type': 'BreadcrumbList', itemListElement: [{ '@type': 'ListItem', position: 1, name: 'Pseudointelekt', item: new URL('/', Astro.site).toString() }, { '@type': 'ListItem', position: 2, name: 'Tematy', item: new URL('/tematy/', Astro.site).toString() }, { '@type': 'ListItem', position: 3, name: topic.name, item: topicUrl }] },
] };
---
<!doctype html><html lang="pl"><head><BaseHead title={`${topic.name} | Pseudointelekt`} description={topic.description} nextUrl={topic.posts.length > 20 ? `/tematy/${topic.slug}/2/` : undefined} /><script type="application/ld+json" set:html={JSON.stringify(topicJsonLd)} /></head><body data-page-section="topic"><Header /><TopicDossier topic={topic} page={1} perPage={20} /><Footer /></body></html>
